* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
}

.container {
  width: 360px;
  text-align: center;
}

.logo {
  font-size: 48px;
  color: #22c55e;
  margin: 40px 0;
}

.card {
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 12px;
  color: #606060;
  padding-top: 20px;
}

.cardgroup {
  padding-top: 20px;
  position: relative;
}

.tabs {
  display: flex;
  z-index: 3;
}

.tab {
  flex: 1;
  color: #747474;
  padding: 15px;
  border: 1px solid #ddd;
  border-bottom: none; /* 카드랑 연결되게 */
  background: #f5f5f5;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}

.tab.active {
  color: #1c1c1c;
  background: white;
}

.field {
  text-align: left;
  margin-bottom: 15px;
}

.field input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.row {
  display: flex;
  gap: 10px;
}

.check-btn {
  background: #22c55e;
  border: none;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  white-space: nowrap;
}

.msg {
  font-size: 12px;
  margin-top: 5px;
}

.error {
  color: red;
}

.phone {
  display: flex;
  gap: 10px;
}

#sellerArea {
  display: none;
}

.check {
  float: right;
  color: green;
  display: none;
}

.agree {
  text-align: left;
  font-size: 12px;
  margin: 16px 16px 16px 16px;
}

.submit {
  width: 90%;
  padding: 12px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 5px;
  opacity: 0.5;
}

.submit.active {
  opacity: 1;
}
